fastapi
uvicorn
python-multipart
pydantic[email]
pymongo[srv]
python-dotenv
python-jose
cryptography
passlib[bcrypt]
bcrypt==4.0.1
langchain
langchain-community
langchain-groq
qdrant-client
cloudinary
weaviate-client
requests
pypdf
python-docx
pillow
pytesseract
sentence-transformers